name: CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    if: github.event_name == 'push' # Only deploy on push, not PR
    
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST_ADDRESS }}
        username: ${{ secrets.HOST_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          # 1. Navegar até a pasta do projeto
          # Ajuste este caminho se for diferente no seu servidor
          cd ~/starsoft-backend-challenge
          
          # 2. Baixar as últimas atualizações do código
          git pull origin main
          
          # 3. Reconstruir e Reiniciar os Containers (Zero Downtime setup would be ideal, but minimal downtime here)
          docker compose up -d --build
          
          # 4. Limpeza (Opcional)
          docker image prune -f
